body {
    background-image: url(./stars.gif);
    font-size:x-large;
}
#mostra{
    color: yellow;
}
#mostrachar{
    color: yellow;
    z-index: -1;
}
.optwrap{
    display:flex;
    justify-content:center;
}
select, button{
    margin-bottom:10vh;
    margin-top:5vh;
    text-align:center;
    font-size:x-large;
    border:3px solid;
    border-color:rgb(255, 255, 158) rgb(255, 255, 158) rgb(137, 137, 0) rgb(179, 179, 0);
}
select{
    background-color:yellow;
    width:80vw;
    height:10vh;
    border-radius:30px 30px 0px 0px;
    margin-right:5vw;
    box-shadow: rgba(90, 93, 50, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
button{
    width:15vh;
    height:10vh;
    background-image:radial-gradient(circle, yellow, rgb(160, 160, 0));
    border-radius:30px;
    box-shadow: rgba(246, 255, 0, 0.25) 0px 14px 28px, rgba(246, 255, 0, 0.22) 0px 10px 10px;
}
select:hover, button:hover{
    cursor:pointer;
    height:12vh;
    margin-top:4vh;
}
#mostra, #mostrachar{
    display:flex;
    justify-content:center;
    text-align:center;
    background-color:rgba(234, 207, 0, 0.333);
    width:max-content;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius:20px;
    padding:10px;
}
#mostra{
    margin-bottom:10vh;
}
#mostrachar{
    margin-bottom:5vh;
}